/*변수 관리*/
$black: #231F20;
$blue:#4e60ff;
$purple: #7c4aff;
$mint : #00FEFE;
$gray : #d5d5d5;

$shadow : 0 2px 5px 0px rgba(0,0,0,0.2);

/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@mixin tablet{
  @media (min-width: ($mobile+1)) and (max-width: $tablet){
    @content;
  }
}

/*반응형, 브라우저 크기가 1024px 이상일때*/
@mixin desktop{
  @media (min-width: $desktop){
    @content;
  }
}