.discover-container {
  width:100%;
  height:100%;
  overflow:hidden;
  .anticon {
    border-radius:50%;
    padding:5px;
    box-shadow:$shadow;
    font-size:30px;
    z-index:11;
    background:#fff;
    transition:.3s;
    &:hover {
      opacity:0.5;
    }
  }
  .anticon-info-circle {
    position:absolute;
    bottom:20px;
    right:20px;
  }
  .anticon-compass {
    position:absolute;
    bottom:20px;
    left:20px;
  }

  .anticon-heart {
    color:rgba(255, 0, 0, 0.896);
  }

  iframe {
    width: 100%;
    height:100%;
  }
}

.icon-container {
  width:30px;
  height:100%;
  position:absolute;
  top:80px;
  right:30px;
  .anticon {
    margin:10px 0;
  }
}