// ToastAlert
@mixin ToastAlert($bgColor, $Color)
{
	position:fixed; 
	left:50%; 
	bottom:0;
	transform:translateX(-50%);
	box-shadow:0 0 8px 0 rgba(0,0,0,0.3);
	display:flex; justify-content: flex-start; align-items: center;
	padding:8px 16px;
	background:$bgColor;
	color:$Color;
	border-radius:5px;
	transition:.3s;
	opacity:0;
	min-height:60px;
	z-index:1001;
	font-weight:400;
	pointer-events:none;
	font-size:clamp(10px, 3vw, 20px);
}

.toast-alert {
	&.ok { @include ToastAlert($purple, #fff) }
	&.open { bottom:10%; opacity:1; }
}
